.menu #ii791>a>i {
  background-position: 0 0px !important
}

.menu #ii853>a>i {
  background-position: 0 0px !important
}

.menu #ii848>a>i {
  background-position: 0 -40px !important
}

.menu #ii825>a>i {
  background-position: 0 -80px !important
}

.menu #ii798>a>i {
  background-position: 0 -120px !important
}

.menu #ii792>a>i {
  background-position: 0 -160px !important
}

.menu #ii797>a>i {
  background-position: 0 -200px !important
}

.menu #ii820>a>i {
  background-position: 0 -240px !important
}

.menu #ii870>a>i {
  background: url(../i/w-catalog-icon.png) no-repeat 0 -288px
}
