
  #idclfrg {
    display: none
  }

  #carrotquest-messenger-collapsed.carrotquest-messenger-left_bottom {
    padding: 0!important;
    margin: 0 0 36px 15px;
  }

  @font-face {
    font-family: 'Days';
    src: url('/fonts/days-webfont.eot');
    src: url('/fonts/days-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/days-webfont.woff') format('woff'), url('/fonts/days-webfont.ttf') format('truetype'), url('/fonts/days-webfont.svg#daysregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cuprum';
    src: url('/fonts/cuprum-regular_0-webfont.eot');
    src: url('/fonts/cuprum-regular_0-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/cuprum-regular_0-webfont.woff') format('woff'), url('/fonts/cuprum-regular_0-webfont.ttf') format('truetype'), url('/fonts/cuprum-regular_0-webfont.svg#cuprumregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../css/fonts/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../css/fonts/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../css/fonts/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../css/fonts/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(../css/fonts/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(../css/fonts/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(../css/fonts/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(../css/fonts/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(../css/fonts/GpWpM_6S4VQLPNAQ3iWvVRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(../css/fonts/7dSh6BcuqDLzS2qAASIeuhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(../css/fonts/DVKQJxMmC9WF_oplMzlQqRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(../css/fonts/PIPMHY90P7jtyjpXuZ2cLFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(../css/fonts/lILlYDvubYemzYzN7GbLkK-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(../css/fonts/lILlYDvubYemzYzN7GbLkJX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(../css/fonts/lILlYDvubYemzYzN7GbLkD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(../css/fonts/lILlYDvubYemzYzN7GbLkOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }

  .site-header .search {
    display: none
  }

  .site-header.srch .search,
  .site-header.fixed .search {
    display: block
  }

  #cart_2 {
    display: none;
  }

  .site-header.fixed .menu>ul>li>a i {
    border-top-color: #f9636d;
    margin-left: 4px;
    margin-right: -10px;
    margin-bottom: 3px
  }

  .site-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .15);
            box-shadow: 1px 2px 3px rgba(0, 0, 0, .15);
  }

  .site-header.fixed .nt {
    display: none
  }

  .site-header.fixed .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    min-width: 100%
  }

  .site-header.fixed .foot .wrapper {
    position: inherit
  }

  .site-header.fixed .cart_show_info {
    top: 39px
  }

  .site-header.fixed .cart_show_info:after,
  .site-header.fixed .cart_show_info:before {
    right: 73px
  }

  .site-header .wrapper #cart:hover>.cart_show_info_top {
    display: block;
  }

  .site-header.fixed .body.wrapper {
    width: 60%;
    float: right;
    margin: 0;
    padding: 0;
    min-width: 60%;
    height: 40px
  }

  .site-header.fixed .foot {
    width: 40%;
    ;
    padding: 0;
    min-width: 40%;
    background-color: rgba(255, 255, 255, 0);
    height: 40px;
    float: left;
    border: 0
  }

  .site-header.fixed .wrapper .logo img {
    height: 100%
  }

  .site-header.fixed .wrapper .logo {
    padding: 0;
    width: 93px;
    height: 36px;
    margin: 2px auto;
    float: left;
    margin-left: 77px;
    top: 0
  }

  .site-header.fixed .wrapper .menu>ul {
    height: 40px
  }

  .site-header.fixed .wrapper .menu>ul>li {
    height: 40px
  }

  .site-header.fixed .wrapper .search {
    top: 5px;
    margin: 0
  }

  .site-header.fixed .search button:after {
    height: 20px;
  }

  .site-header.fixed .wrapper .search input[type=text] {
    height: 30px;
  }

  .site-header.fixed .wrapper .wish {
    position: absolute;
    top: 4px;
    margin: 0;
    padding: 0;
  }

  .site-header.fixed .wrapper .delpay {
    display: none
  }

  .site-header.fixed .wrapper .wish a {
    font-size: 16px;
    line-height: 25px;
    height: 30px;
    background-size: contain;
  }

  .site-header.fixed .wrapper .wish a:before {
    margin-right: 1px
  }

  .site-header.fixed .menu>ul>li:hover>a {
    background-color: rgba(255, 255, 255, 0)
  }

  .site-header.fixed .wrapper .menu {
    padding: 0;
    width: 330px;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
  }

  .site-header.fixed .wrapper .menu>ul>li .rel {
    margin-top: 1px
  }

  .site-header.fixed .wrapper .menu>ul>li>a {
    color: #f9636d;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }

  .site-header.fixed .wrapper .menu>ul>li:hover>a {
    color: #dc4650;
    border: 0
  }

  .site-header.fixed .wrapper .menu>ul>li>a i,
  .site-header.fixed .wrapper .menu>ul>li>a i.bt {
    left: 90%;
    background: url(/i/sprite.png) -87px -26px no-repeat;
    top: 18px
  }

  .site-header.fixed .wrapper #cart {
    position: absolute;
    top: 1px;
    right: 0px;
    padding: 0;
    margin: 0;
    min-height: 0;
    min-width: 0;
    height: 41px;
    width: 100px;
    border: 0
  }

  .site-header.fixed .wrapper #cart_2 {
    display: block;
    width: 100px;
    height: 38px;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    cursor: pointer;
  }

  .site-header.fixed .wrapper #cart_2 span {
    background-color: #fff;
    border: 1px solid #FF5463;
    width: 20px;
    height: 20px;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: -10px;
    border-radius: 50px;
    margin-top: 0px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
  }

  .site-header.fixed .wrapper #cart_2:hover {
    opacity: 0.8;
  }

  .site-header.fixed .wrapper .cart>div.cart_body>a {
    top: 10px
  }

  .site-header.fixed .wrapper .cart_body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 39px;
    right: 5px;
    overflow: hidden;
    height: 0;
    width: 200px;
    border: 1px solid #D9D9D9;
  }

  .site-header.fixed .wrapper #cart:hover>.revert_cart_block:hover+.cart_body {
    display: none
  }

  .site-header.fixed .wrapper #cart:hover>.revert_cart_block {
    top: 40px;
    left: 0;
    right: 0;
    margin: auto
  }

  #cart_2 img {
    height: 90%
  }

  .site-header.fixed .wrapper #cart_2>a {
    top: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: none
  }

  .site-header.fixed .wrapper .cart:after {
    content: none
  }

  .site-header.fixed .wrapper #countFavorite {
    display: inline-block
  }

  .site-header.fixed .wrapper #cart:hover>.cart_body .in_cart {
    display: inline-block
  }

  .site-header.fixed .cart>div.cart_body>a {
    left: 25px
  }

  .site-header.fixed .body {
    margin: 0 auto
  }

  .site-header.fixed .head_wrapper {
    width: 1240px;
    margin: 0 auto;
    position: relative
  }
