#cq-popup{z-index:9999;left:calc(50%);top:calc(50%);position:fixed!important;background-repeat:no-repeat;background-position:right;font-family:Open Sans, sans-serif;transform:translate(-50%,-50%) scale(1);display:none}
#cq-popup-btclose{text-decoration:none;font-size:29px;position:absolute;right:10px;top:0;z-index:999;color:#000;cursor:pointer}
#cq-popup-btclose:hover{color:#888}
#cq-popup-bg{cursor:pointer;position:fixed;top:0;width:100%;height:100%;background:rgba(51,51,51,0.8);z-index:9999;display:none}
#cq-popup.send_mail_active,#cq-popup-bg.send_mail_active{display:block}
.jspContainer{position:relative;overflow:hidden}
.jspVerticalBar *,.jspHorizontalBar *{margin:0;padding:0}
.jspVerticalBar,.jspHorizontalBar,.jspPane{position:absolute}
* html .jspCorner{margin:0 -3px 0 0}
.ui-popup .title{font-size:45px;color:#1d1c21;font-weight:700;line-height:55px;font-family:'PT Sans'}
.ui-popup .title span{font-size:50px;font-family:'PT Sans'}
.ui-popup .text{font-size:18px;color:#1d1c21;font-family:'PT Sans'}
.ui-popup .form input[type=text]{width:243px;height:50px;border:0;border-radius:3px;font-size:14px;font-family:Arial;line-height:23px;padding:0 20px}
.ui-popup .form button{font-family:'PT Sans';width:243px;height:50px;background:#f9636d;border-radius:3px;border:0;font-size:15px;color:#fff;font-weight:700;text-transform:uppercase}
.ui-popup .form button:hover{background:url(/i/bt_2.png) 0 -222px repeat-x;font-weight:700;font-size:15px}
.ui-popup-t2 .head{height:80px;line-height:80px;font-size:20px;color:#1d1c21;font-weight:700;text-align:center;font-family:'PT Sans'}
.ui-popup-t2 .body{position:relative;background:url(/i/popup/2-1.jpg) no-repeat;height:350px;padding-left:40px}
.ui-popup-t2-v2 .body{background:url(/i/popup/2-2.jpg) no-repeat}
.ui-popup-t2-v3 .body{background:url(/i/popup/2-3.jpg) no-repeat}
.ui-popup-t2-v4 .body{background:url(/i/popup/2-4.jpg) no-repeat}
.ui-popup-t2-v5 .body{background:url(/i/popup/2-5.jpg) no-repeat}
.ui-popup-t2-v6 .body{background:url(/i/popup/2-6.jpg) no-repeat}
.ui-popup-t2-v7 .body{background:url(/i/popup/2-7.jpg) no-repeat}
.ui-popup-t2-v8 .body{background:url(/i/popup/2-8.jpg) no-repeat}
.ui-popup-t2 .body .title{padding-top:90px}
.ui-popup-t2 .body .text{padding-top:10px;font-family:'PT Sans';line-height:23px}
.ui-popup-t2-v6 .body .text{padding-top:0}
.ui-popup-t2 .body .form{position:absolute;top:103px;right:40px;font-family:'PT Sans'}
.ui-popup-t2 .foot{text-align:center}
.ui-popup-t2 .foot .item{display:inline-block;vertical-align:top;padding:0 25px}
.ui-popup-t2 .foot .item .ic{display:table-cell;vertical-align:middle;height:110px}
.ui-popup-t2 .foot .item .tx{display:table-cell;vertical-align:middle;height:110px;padding-left:20px;font-size:16px;color:#939393;line-height:21px;text-align:left}
.ui-popup-t2 .foot .item .tx span{font-size:20px;font-family:'PT Sans'}
.ui-popup-t2-v8 .body .title{padding-top:75px;font-size:28px;line-height:45px}
.ui-popup-t2-v8 .body .title > span{font-size:45px}
.ui-popup-t2-v8 .body .title > span span{font-size:50px}
.ui-popup-t4 .dialog-popup-body{background:url(/i/popup/4-1.png) no-repeat;height:540px!important}
.ui-popup-t4 .wrap{font-family:'PT Sans';padding:90px 0 0 180px}
.ui-popup-t4 .icon{background:url(/i/popup/icon-4-1.png) no-repeat;width:142px;height:149px;position:absolute;left:-50px;top:42px}
.ui-popup-t4 .text-1{line-height:1;font-size:38px;font-weight:700;color:#1d1c21}
.ui-popup-t4 .text-2{line-height:1;font-weight:700;font-size:150px;color:#fff}
.ui-popup-t4 .text-2 span{position:relative;top:-85px;margin-left:15px;font-size:38px}
.ui-popup-t4 .text-3{padding-top:40px;font-size:18px;color:#2b2b2d;line-height:23px}
.ui-popup-t5-v7 button.ui-dialog-titlebar-close,.ui-popup-t5-v3 button.ui-dialog-titlebar-close{background-position:-344px -30px}
.ui-popup-t5 .dialog-popup-body{background:url(/i/popup/5-1.jpg) no-repeat;height:527px!important;padding:0 0 0 84px}
.ui-popup-t5-v2 .dialog-popup-body{background:url(/i/popup/5-2.jpg) no-repeat}
.ui-popup-t5-v3 .dialog-popup-body{background:url(/i/popup/5-3.jpg) no-repeat}
.ui-popup-t5-v4 .dialog-popup-body{background:url(/i/popup/5-4.jpg) no-repeat}
.ui-popup-t5-v5 .dialog-popup-body{background:url(/i/popup/5-5.jpg) no-repeat}
.ui-popup-t5-v6 .dialog-popup-body{background:url(/i/popup/5-6.jpg) no-repeat}
.ui-popup-t5-v7 .dialog-popup-body{background:url(/i/popup/5-7.jpg) no-repeat}
.ui-popup-t5-v8 .dialog-popup-body{background:url(/i/popup/5-8.jpg) no-repeat}
.ui-popup-t5 .title{padding-top:70px;width:250px}
.ui-popup-t5 .text{padding-top:20px;line-height:23px}
.ui-popup-t5 .form{padding-top:20px}
.cnv-widget_workarea.cnv-widget_workarea__pop-up .cnv-widget_component{margin:0!important}
.ui-popup-t4.ui-popup-t6-v0 .dialog-popup-body{background:url(/i/popup/6-1.png) no-repeat;height:540px!important}
.ui-popup-t4.ui-popup-t6-v0 .wrap{font-family:'PT Sans';width:687px!important;max-width:687px;min-width:300px;text-align:left;padding:90px 0 0 110px}
.ui-popup-t4.ui-popup-t6-v0 .icon{background:url(/i/popup/icon-6-1.png) no-repeat;width:134px;height:152px;position:absolute;left:-40px;top:42px}
.ui-popup-t4.ui-popup-t6-v0 .text-1{line-height:1;font-size:38px;font-weight:700;color:#ff6ba9;margin-left:7px}
.ui-popup-t4.ui-popup-t6-v0 .text-1.p2{margin-left:29px}
.ui-popup-t4.ui-popup-t6-v0 .text-2{line-height:1;font-weight:700;font-size:92px;color:#fff;margin:31px 0}
.ui-popup-t4.ui-popup-t6-v0 .text-3{padding-top:40px;font-size:18px;color:#2b2b2d;line-height:23px;margin-left:68px}
.ui-popup-t4.ui-popup-t6-v0 .form{padding-top:15px;margin-left:68px}
.ui-popup-t4.ui-popup-t6-v0.v2 .dialog-popup-body{background:url(/i/popup/6-2.png) no-repeat;height:540px!important}
.ui-popup-t4.ui-popup-t6-v0.v2 .icon{background:url(/i/popup/icon-6-2.png) no-repeat;width:134px;height:157px;position:absolute;left:-40px;top:42px}
.ui-popup-t4.ui-popup-t6-v0.v2 .text-1{line-height:1;font-size:38px;font-weight:700;color:#ed5575;margin-left:7px}
.ui-popup-t6-v1 .dialog-popup-body{background:url(/i/popup/6-5.jpg) no-repeat}
.ui-popup-t6-v2 .dialog-popup-body{background:url(/i/popup/6-4.jpg) no-repeat}
.ui-popup-t6-v3 .dialog-popup-body{background:url(/i/popup/6-3.jpg) no-repeat}
.ui-popup-t4.ui-popup-t6-v0.v6 .dialog-popup-body{background:url(/i/popup/6-6.png) no-repeat;height:540px!important}
.ui-popup.ui-popup-t6-v1 .form button,.ui-popup.ui-popup-t6-v2 .form button,.ui-popup.ui-popup-t6-v3 .form button{background:#871c41}
.ui-popup.ui-popup-t6-v1 .form button:hover,.ui-popup.ui-popup-t6-v2 .form button:hover,.ui-popup.ui-popup-t6-v3 .form button:hover{background:#a32853}
.ui-popup-t5.ui-popup-t6-v1 .title,.ui-popup-t5.ui-popup-t6-v2 .title,.ui-popup-t5.ui-popup-t6-v3 .title{padding-top:7px;width:330px;font-size:60px;color:#fff;margin-bottom:-77px;margin-top:-3px}
.ui-popup-t5.ui-popup-t6-v2 .title{font-size:68px;width:360px;margin-bottom:-94px}
.ui-popup-t5.ui-popup-t6-v3 .title{font-size:76px;width:500px;margin-bottom:-51px}
.ui-popup-t5.ui-popup-t6-v1 .text,.ui-popup-t5.ui-popup-t6-v2 .text,.ui-popup-t5.ui-popup-t6-v3 .text{padding-top:87px;line-height:23px;color:#cb4c7d;font-weight:700;font-size:25px;padding-bottom:5px}
.ui-popup-t5.ui-popup-t6-v2 .text{padding-top:105px;font-size:28px}
.ui-popup-t5.ui-popup-t6-v3 .text{padding-top:82px;font-size:32px;padding-bottom:28px}
.ui-popup-t5.ui-popup-t6-v2 .dialog-popup-body{padding:0 0 0 37px}
.ui-popup-t5.ui-popup-t6-v3 .dialog-popup-body{padding:0 0 0 52px}
.ui-popup.ui-popup-t6-v3 .form input[type=text]{border:1px solid #de7289;width:304px;height:62px;font-size:17px}
.ui-popup.ui-popup-t6-v3 .form button{width:304px;height:62px;font-size:17px}
.ui-popup-t4.ui-popup-t6-v0 .wrap .text-1_4{font-family:'PT Sans';font-size:39px;font-weight:700;color:#e3737c;margin-top:-84px;margin-left:-75px}
.ui-popup-t4.ui-popup-t6-v0 .wrap .text-1_5{font-family:'PT Sans';font-size:44px;font-weight:700;color:#f37b85;margin-left:-56px}
.ui-popup-t4.ui-popup-t6-v0.v6 .text-1{line-height:1;font-size:38px;font-weight:100;color:#e3737c;margin-left:-38px;margin-top:28px}
.ui-popup-t4.ui-popup-t6-v0.v6 .text-2{line-height:1;font-weight:700;font-size:77px;color:#fff;margin:5px -18px}
.ui-popup-t4.ui-popup-t6-v0.v6 .text-1.p2{margin-left:48px;margin-top:6px;margin-bottom:40px}
.jspCap,.dialog-map,.dialog-product .jspHorizontalBar,.dialog-popup-body{display:none}
.jspTrack,.jspDrag,.jspArrow,.dialog-product .img .preview ul{position:relative}
.dialog-product .img .preview ul:after,.dialog-product .stat:after,.dialog-product .char li:after,.dialog-product .price:after,.dialog-product .color:after{content:'';display:block;clear:both;visibility:hidden;height:0}
.dialog-product .img .preview li:nth-child(4n+4),.dialog-product .color label:nth-child(4n+4){margin-right:0}
.dialog-product .char li:nth-child(2n+2),.ui-popup-t4,.ui-popup-t4.ui-popup-t6-v0{background:none}
.ui-popup .form ::-webkit-input-placeholder,.ui-popup .form :-moz-placeholder,.ui-popup .form ::-moz-placeholder,.ui-popup .form :-ms-input-placeholder{color:#252525!important}
.ui-popup-t2 button.ui-dialog-titlebar-close,.ui-popup-t5 button.ui-dialog-titlebar-close{background-position:-720px 0}
.ui-popup-t2 .body .item,.ui-popup-t2-v8 .body .text,.ui-popup-t4 .form,.ui-popup-t5 .form .item{padding-top:15px}
.ui-popup-t4 button.ui-dialog-titlebar-close,.ui-popup-t4.ui-popup-t6-v0 button.ui-dialog-titlebar-close{background-position:-720px 0;right:200px;top:25px}
.ui-popup-t4 button.ui-dialog-titlebar-close .ui-button-text,.ui-popup-t4.ui-popup-t6-v0 button.ui-dialog-titlebar-close .ui-button-text{display:block;position:absolute;padding-left:10px;left:100%;top:-3px;font-size:16px;color:#fff}
.ui-popup-t4 .form .item,.ui-popup-t4.ui-popup-t6-v0 .form .item{float:left;margin-right:21px}
.ui-popup-t4 .form button,.ui-popup-t5-v1 .form button,.ui-popup-t4.ui-popup-t6-v0 .form button{background:#1d1c21}
.ui-popup-t4 .form button:hover,.ui-popup-t5-v1 .form button:hover,.ui-popup-t4.ui-popup-t6-v0 .form button:hover{background:url(/i/bt_2.png) 0 -272px repeat-x}
.ui-popup-t5-v3 .title,.ui-popup-t5-v3 .text{color:#fff}