.ymaps-2-1-50-pictogramCircleIconContent {
  display: block;
  background-size: contain;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  position: absolute;
  top: -11px;
  left: -11px;
}
